@media (max-width: 1680px) {
  .content-container {
    max-width: 69%;
  }
  .poster-left {
    height: 415px;
    margin-right: 20px;
  }
  .header__links {
    font-size: 15px;
  }
  .phone-text {
    margin-left: 10px;
  }
  .about__description__text {
    margin-right: 10px;
  }
  .about-numbers {
    margin-right: 5px;
  }
  .partners_items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .production {
    overflow: hidden;
    margin-left: 0;
  }
  .prodiction__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .production__item_background1,
  .production__item_background2,
  .production__item_background3,
  .production__item_background4 {
    margin: 10px;
  }
}
