@media (max-width: 1680px) {
    .content-container {
        max-width:  69%;
    }
    .poster__left {
        height: 375px;
    }
    .header__links  {
        font-size: 15px;
    }
    .header__phone {
        margin-left: 10px;
    }
    .about__description_text {
        margin-right: 10px;
    }
}