@media (max-width: 576px) {
  body {
    max-width: 576px;
  }
  header {
    height: 600px;
  }
  .about {
    height: 875px;
  }
  .menu-links {
    display: none;
  }
  .header__links div {
    display: none;
  }
  .menu_small {
    display: block;
  } 
  .poster__left {
    max-width: 100%;
    margin-top: -20%;
  }
  .about__container {
    display: block;
    height: 410px;
  }
  .about__description {
    width: 100%;
  }
  .about__description_text {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .about__description_title {
    text-align: center;
  }
  .about__numbers {
    max-width: 100%;
  }
  .about__info {
    flex-direction: row;
    justify-content: space-around;
  }
  .about__numbers_title {
    text-align: center;
    margin: 20px 0;
  }
  .content-container,
  .main__production {
    margin: 0 4%;
  }
  .main__review {
    width: 576px;
  }
  .review__content_text {
    font-size: 25px;
    line-height: 37.5px;
    max-width: 330px;
  }
  .main__review_years {
    margin-left: 4%;
  }
  .review__container {
    height: 650px;
  }
  .patronage {
    height: 694px;
  }
  .patronage_title {
    margin-bottom: 50px;
  }
  .user__form_inputs {
    grid-template-areas:
      "a b "
      "d f "
      "c c";
  }
  .user__form__message_input {
    width: 99%;
  }
  .user__form__name_input,
  .user__form__company_input,
  .user__form__phone_input,
  .user__form__mail_input {
    width: 98%;
  }
  .user__form_inputs {
    grid-template-columns: 45% 45%;
  }
  .user__form_submit {
    flex-direction: column-reverse;
    align-items: center;
  }
  .user__form_submit_text {
    max-width: 435px;
    text-align: center;
    margin-top: 30px;
  }
  .patronage__info {
    margin-top: 50px;
  }
}
