@media (max-width: 576px) {
  body {
    max-width: 576px;
  }
  header {
    height: 600px;
  }
  .about {
    height: 875px;
  }
  .menu-links {
    display: none;
  }
  .header__links div {
    display: none;
  }
  .menu_small {
    display: block;
  }
  .poster-left {
    max-width: 100%;
    margin-top: -20%;
  }
  .about__container {
    display: block;
    height: 410px;
  }
  .about__description {
    width: 100%;
  }
  .about__description__text {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .about__description__title {
    text-align: center;
  }
  .about-numbers {
    max-width: 100%;
  }
  .about-numbers__info {
    flex-direction: row;
    justify-content: space-around;
  }
  .about-numbers__title {
    text-align: center;
    margin: 20px 0;
  }
  .content-container,
  .production {
    margin: 0 4%;
  }
  .review {
    width: 576px;
  }
  .review__content_text {
    font-size: 25px;
    line-height: 37.5px;
    max-width: 330px;
  }
  .review__years {
    margin-left: 4%;
  }
  .review__container {
    height: 650px;
  }
  .patronage {
    height: 694px;
  }
  .patronage__title {
    margin-bottom: 50px;
  }
  .user-form__inputs {
    grid-template-areas:
      "a b "
      "d f "
      "c c";
  }
  .user-form__input__message {
    width: 99%;
  }
  .user-form__input__name,
  .user-form__input__company,
  .user-form__input__phone,
  .user-form__input__mail {
    width: 98%;
  }
  .user-form__inputs {
    grid-template-columns: 45% 45%;
  }
  .user-form_bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .user-form__text__text_bottom {
    max-width: 435px;
    text-align: center;
    margin-top: 30px;
  }
  .patronage__content__info {
    margin-top: 50px;
  }
  .partners_items {
  column-gap: 0;
  }
}
