@media (max-width: 992px) {
  body {
    max-width: 100%;
  }
  .phone-text {
    position: absolute;
    top: 16%;
    left: 44%;
  }
  .poster-right {
    display: none;
  }
  .posters {
    display: block;
    max-width: 100%;
    margin-top: 38%;
  }
  .poster-left {
    max-width: 90%;
  }
  .content-container {
    max-width: 100%;
    margin: 0 9% 0 17%;
  }
  .about__img {
    display: none;
  }
  .about__description {
    width: 65%;
  }
  aside {
    max-width: 14.5%;
  }
  .production {
    margin: 0px 9% 0 17%;
  }
  .review {
    width: 992px;
  }
  .review__content_text {
    font-size: 34px;
    line-height: 51px;
    max-width: 450px;
  }
  .patronage {
    height: 574px;
  }
  .patronage__content {
    flex-direction: column-reverse;
  }
  .user-form {
    width: 100%;
  }
  .patronage__content__info {
    column-count: 2;
    margin-top: 80px;
  }
  .patronage__content__info li:nth-child(3),
  .patronage__content__info li:nth-child(4) {
    text-align: end;
  }
  .partners_items {
    grid-template-columns: 1fr 1fr;
  }
}
