@media (max-width: 1090px) {
  body {
    max-width: 992px;
  }
  .header__menu_phone {
    position: absolute;
    top: 16%;
    left: 33%;
  }
  .poster_right {
    display: none;
  }
  .posters {
    display: block;
    max-width: 100%;
    margin-top: 38%;
  }
  .poster_left {
    max-width: 90%;
  }
  .container {
    max-width: 100%;
    margin: 0 9% 0 17%;
  }
  .about_img {
    display: none;
  }
  .about__description {
    width: 65%;
  }
  .aside {
    max-width: 14.5%;
  }
  .main__production {
    margin: 0px 9% 0 17%;
  }
  .main__review {
    width: 992px;
  }
  .review__content_text {
    font-size: 34px;
    line-height: 51px;
    max-width: 450px;
  }
}
