@media (max-width: 576px) {
  body {
    max-width: 576px;
  }
  header {
    height: 600px;
  }
  .about {
    height: 875px;
  }
  .menu__links {
    display: none;
  }
  .header__menu_links div {
    display: none;
  }
  .menu_small {
    display: block;
  }
  .poster_left {
    max-width: 100%;
    margin-top: -20%;
  }
  .about__container {
    display: block;
    height: 410px;
  }
  .about__description {
    width: 100%;
  }
  .about__description_text {
    max-width: 100%;
    text-align: center;
  }
  .about__description_title {
    text-align: center;
  }
  .about__numbers {
    max-width: 100%;
  }
  .about__info {
    flex-direction: row;
    justify-content: space-around;
  }
  .about__numbers_title {
    text-align: center;
    margin: 20px 0;
  }
  .container,
  .main__production {
    margin: 0 4%;
  }
  .main__review {
    width: 576px;
  }
  .review__content_text {
    font-size: 25px;
    line-height: 37.5px;
    max-width: 330px;
  }
  .main__review_years {
    margin-left: 4%;
  }
  .review__container {
    height: 650px;
  }
}
