body {
  background-color: whitesmoke;
}
.container-content {
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
}
.header__title {
  color: rgb(48, 48, 48);
  text-align: center;
}
.content__block {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.content__block__img {
  width: fit-content;
  margin: 15px auto;
  border-radius: 10px;
}
.content__block__title {
  text-align: center;
}
.header-menu__link {
  background-color: khaki;
  border: solid 1px white;
  border-radius: 50px;
  padding: 6px;
  margin: 3px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.link_top {
  text-decoration: none;
}

.link_top:link {
  color: black;
}
.link_top:hover {
  color: gray;
}
.link_up {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 25px;
  position: fixed;
  right: 10%;
  bottom: 40px;
  cursor: pointer;
  border: none;
  color: black;
}
.fas {
  margin: 12px;
}
